<div class="container-fluid">
  <div class="card" style="border: 0;">
    <div class="card-header bg-secondary text-light">
      <div class="row">
        <div class="col-md-8">
          <h3><i class="fa fa-address-card"></i> Staff List</h3>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-2  mb-3">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary" [routerLink]="['/staff', 0, 'edit']"><i class="fa fa-plus-square"></i>&nbsp; Add Staff</button>
              <button type="button" class="btn btn-success" (click)="show()"><i [ngClass]="(showFilter)? 'fa fa-eye': 'fa fa-eye-slash'"></i>&nbsp;Show Filter</button>
            </div>
          </div>
        </div>
        <div class="row">
          <form [formGroup]="filterForm" *ngIf="showFilter">
            <div class="col-lg-4">
              <div class="form-floating mb-2">
                <select class="form-select" id="Filter" formControlName="type" aria-placeholder=".">
                  <option value="No Filter">No Filter</option>
                  <option value="Dui">Dui</option>
                  <option value="Department">Department</option>
                  <option value="Last Name">Last Name</option>
                  <option value="First Name">First Name</option>
                  <option value="Type">Type</option>
                </select>
                <label for="Filter">Filter by</label>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-floating mb-2">
                <input type="text" class="form-control" formControlName="value" id="value" placeholder=".">
                <label for="value">Value</label>
              </div>
            </div>
            <div class="col-lg-3">
              <button class="btn btn-primary mb-3"
                (click)="filterData(filterForm.get('type')?.value, filterForm.get('value')?.value)">
                <i class="fa fa-filter"></i>&nbsp;&nbsp; SEARCH
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead class="table-dark">
            <tr>
              <th>DUI</th>
              <th>FIRST NAME</th>
              <th>LAST NAME</th>
              <th>DEPARTMENT</th>
              <th>POSITION</th>
              <th>TYPE</th>
              <th>SALARY</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="staff">
            <tr *ngFor="let st of staff; index as i">
              <td>{{ st.dui }}</td>
              <td>{{ st.staffName }}</td>
              <td>{{ st.staffLastName }}</td>
              <td>{{ st.department }}</td>
              <td>{{ st.position }}</td>
              <td>{{ st.staffType }}</td>
              <td>{{ st.salary | currency: "USD":"symbol":"1.2-2" }}</td>
              <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" title="Edit" class="btn btn-success" [routerLink]="['/staff', st.id, 'edit']">
                    <i class="fa fa-pencil-square-o"></i>
                  </button>
                  <button type="button" title="Delete" (click)="deleteStaff(st)" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot class="table-success">
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>