<div class="container-fluid">
  <div class="card" style="border: none">
    <div class="card-header bg-secondary text-light">
      <h3><i class="fa fa-address-card"></i> Staff List</h3>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="form-floating mb-3">
              <select
                class="form-select"
                id="Filter"
                aria-placeholder="."
              ></select>
              <label for="Filter">Filter by</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating mb-3"></div>
          </div>
          <div class="col-md-3">
            <button
              class="btn btn-primary mb-3"
              [routerLink]="['/staff', 'edit']"
            >
              <i class="fa fa-plus-square"></i> Add
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead class="table-dark">
                  <tr>
                    <th>DUI</th>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>DEPARTMENT</th>
                    <th>POSITION</th>
                    <th>TYPE</th>
                    <th>SALARY</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody *ngIf="staff">
                  <tr *ngFor="let st of staff; index as i">
                    <td>{{ st.dui }}</td>
                    <td>{{ st.staffName }}</td>
                    <td>{{ st.staffLastName }}</td>
                    <td>{{ st.department }}</td>
                    <td>{{ st.position }}</td>
                    <td>{{ st.staffType }}</td>
                    <td>{{ st.salary | currency: 'USD':'symbol':'1.2-2'}}</td>
                    <td>
                      <div
                        class="btn-group"
                        role="group"
                        aria-label="Basic example"
                      >
                        <button
                          type="button"
                          title="Edit"
                          class="btn btn-outline-success"
                        >
                          <i class="fa fa-pencil-square-o"></i>
                        </button>
                        <button
                          type="button"
                          title="Delete"
                          (click)="deleteStaff(st)"
                          class="btn btn-outline-danger"
                        >
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot class="table-success">
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
