<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/img/favicon.ico" alt="" width="35" height="30" class="d-inline-block align-text-top">
      Demo - RH
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link"
         [routerLink]="['/welcome']"
         routerLinkActive="active">Home</a>
         <a class="nav-link"
         [routerLink]="['/staff']"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact : true}">Manage Staff</a>
      </div>
    </div>
  </div>
</nav>
<br>
<router-outlet></router-outlet>